<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
    <php>
        <env name="XDEBUG_MODE" value="coverage"/>
        <ini name="xdebug.mode" value="coverage"/>
    </php>
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>